body {
    text-align: center;
    background-color: beige;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: block;
}

.square {
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "\1F6E1";  
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x{
    position: relative;
}

.x:after{
    position: absolute;
    content: "\2694";  
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#retomar {
     width: 600px; 
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    background-color: white;
    color: #14BDAC;
    font-weight: 600;
    text-align: center;
    padding: 2%;
    margin-top: 2%;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 5px;
}