* {
    box-sizing:  border-box;
}

.preview {
    width: 90%;
    max-width: 700px;
    /* border: 1px solid #4D4E53; */
    border: 1px solid #ffa94d;
    border-radius: 2px;
    padding: 10px 14px 10px 10px;
    margin-bottom: 10px;
    /* background-color: #ddd8ab; */
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 100px);
    justify-tracks: end, center, space-around;

  }

.item {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8ab;
    color: #d9480f;
}

div {
    display: block  ;
}

body{
    background-color: #fff;
    color: #333;

}